#auth {
    display: flex;

    justify-content: center;

    form {
        display: flex;
    
        justify-content: center;
    
        flex-direction: column;
    
        gap: 1.25rem;
    }
    
    input {
        font-size: 1.25rem;
    
        padding: 0.35rem;
    }
    
    button {
        font-size: 1.25rem;
    
        padding: 0.25rem;
    }
    
    h2 {
        display: inline-block;
    }
}